# Development Mode (0=Production, 1=Development)
DEV_MODE=1

# MongoDB Configuration
# Local (with auth):
MONGO_URI=mongodb://username:password@localhost:27017/?authSource=admin
# MongoDB Atlas:
# MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority

MONGO_DB_NAME=products

HF_TOKEN=""

# Image Upload Directory
IMG_UPLOAD_DIR=./data/uploads

# Indexing Configuration (-1 for all products)
SAMPLE_SIZE=20

# File Paths (usually don't need to change)
INDEX_PATH=./data/cache/aligned_index.ann
ID_MAP_PATH=./data/cache/id_map.json