# Virtual environment
venv/
.venv/
env/
ENV/
# Environment variables
.env
.env.local
.env.*.local

# But keep example
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyc

# IDE
.vscode/
.idea/
*.swp
*.swo

# Cloud Run
service.yaml

# OS
.DS_Store
Thumbs.db

mongo_data/*
app/data/cache/*
app/data/uploads/*
app/data/image_source/*